.sb-main{
    background-color: #533B7C;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.lpss-sec{
    /* background-color: red; */
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}
.toggless-btn{
    height: max-content;
    width: max-content;
    padding: 7px;
    font-size: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.sb-container{
    height:max-content;
    margin-top: 50px;
    width: 700px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sb-btn {
    height: 70px;
    background-color:  #7E6DF3;
    width: 300px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.sb-btn-txt {
    font-size: 28px;
    font-weight: 800;
    color: white;
    margin-left: 10px;
}
.title-txt-sb{
    font-size: 35px;
    font-weight: 800;
    color: white;
}
.title-txt-sb1{
    font-size: 14px;
    font-weight:600;
    color: lightgray;
}
.score-container{
    height: max-content;
    width: 550px;
    overflow-y: scroll;
    /* background-color: green; */
}
.info-div::-webkit-scrollbar{
    display: none;
}
.score-headings{
    height: 40px;
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   position: sticky;
   margin-top: 20px;
}
.score-div{
    height: 100%;
    width:25%;
    background-color: #7E6DF3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D3D3D3 ;
}
.score-txt{
    font-size: 12px;
    font-weight: 600;
    color: white;
    /* color:#D3D3D3 */
}
.info-div{
    height: max-content;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.score-headings1{
    height: 40px;
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.score-div1{
    height: 100%;
    width:25%;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffefef ;
}
.score-txt1{
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
    color: #000;
    /* color:#D3D3D3 */
}