.box-main {
    width: 100%;
    background-color: #e3e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-card {
    height: 390px;
    width: 320px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
}

.b-card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0 12px 0;
}

.b-img-div {
    /* background-color: red; */
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    /* cursor: pointer; */
}

.b-img-css {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.b-card-seeMore {
    font-size: 12px;
    color: lightgray;
    opacity: 70%;
    font-weight: 600;
    /* cursor: pointer; */
}

.b-card-seeMore:hover {
    color: red;
    text-decoration: underline;
}

.b-container-1 {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

.b-container-2 {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 18px 18px 15px 18px;
    margin-bottom: 10px;
}

.book-card-div {
    height: 200px;
    width: 150px;
    cursor: pointer;
}

.book-css {
    height: 200px;
    width: 150px;
    object-fit: cover;

}

.b-c2-left {
    height: 100px;
    width: 40px;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.b-c2-right {
    height: 100px;
    width: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 90%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.fa-css {
    height: 30px;
    width: 30px;
}

.book-container {
    height: max-content;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    align-items: center;
    /* background-color: red; */
    padding: 10px;
    position: relative;
}

.book-container::-webkit-scrollbar {
   display: none;
}

/* .book-container::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
}

.book-container::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
} */

.b-container-3 {
    height: max-content;
    display: flex;
    width: 94.5%;
    background-color: white;
    padding: 20px;
    margin: 10px 0 10px 0;
    /* gap: 5px; */
    flex-direction: column;
    position: relative;
}

.b-c2-left-3 {
    height: 100px;
    width: 45px;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    cursor: pointer;
    top: 100px;
    left: 30px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.b-c2-right-3 {
    top: 100px;
    height: 100px;
    width: 40px;
    background-color: white;
    position: absolute;
    right: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 90%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.span-css {
    font-size: 14px;
    font-weight: 500;
    color: #cc0c39;
    margin-left: 10px;
}

.b-c3-card-container {
    height: max-content;
    /* background-color: yellow; */
    display: flex;
    overflow-x: scroll;
}

.b-c3-card-container::-webkit-scrollbar {
    display: none;
}

.b-c3-card {
    height: max-content;
    width: 220px;
    padding: 0px 10px 10px 10px;
    /* background-color: green; */
}

.b-c3-img-div {
    height: 180px;
    width: 220px;
    background-color: #f0f9f9;
    display: flex;
    justify-content: center;
}

.b-c3-img-css {
    height: 100%;
    width: 60%;
    object-fit: cover;
}

.bc3-txt1-div {
    height: max-content;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    padding: 12px 0 5px 0;
}

.bc3-off-div {
    height: max-content;
    width: max-content;
    background-color: #cc0c39;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 2px
}

.bc3-off-txt {
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.bc3-deal-txt {
    color: #cc0c39;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}

.bc3-txt2-div {
    height: max-content;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.bc3-txt2-div1 {
    display: flex;
    align-items: flex-start;
    /* background-color: green; */
    height: max-content;
}

.bc3-txt2-txt1 {
    font-size: 15px;
    margin-right: 5px;
}

.bc3-txt2-span {
    font-size: 10px;
    margin-right: 3px;
}

.bc3-txt2-txt2 {
    font-size: 12px;
    align-self: center;
    opacity: 80%;
}

.bc3-txt2-txt2-span {
    opacity: 80%;
    font-size: 12px;
    margin-left: 5px;
}

.bc3-txt2-txt3 {
    font-size: 14px;
    margin-top: 5px;
    opacity: 80%;
}

.b-container-4 {
    height: 180px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.b-container4-f {
    height: 40px;
}

.b-container4-m {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    border: lightgray 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b-c4-txt {
    font-size: 12px;
    color: rgb(1, 1, 38);
}

.bc4-btn {
    height: 30px;
    width: 230px;
    margin: 5px 0 5px 0;
    background-color: #ffd25f;
    border: #c9981e 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.bc4-btn-txt {
    font-size: 12px;
    font-weight: 600;
}

.b-c4-txt2 {
    font-size: 11px;
}

.b-c4-span {
    color: rgb(173, 0, 0);
    cursor: pointer;
}